<ion-header>
  <ion-toolbar>
    <ion-title>Add Contact</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label>First Name:</ion-label>
    <ion-input type="text" [(ngModel)]="firstName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Last Name:</ion-label>
    <ion-input type="text" [(ngModel)]="lastName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email: <Address></Address></ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-button (click)="dismissModal()" slot="start">Submit</ion-button>




</ion-list>
</ion-content>
